doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title sample

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck

      section
        h1 sample

      section
        h2 自己紹介
        ul.build.build-items
          li 名前：てらはら
          li 職業：作る人
          li 趣味：knowledge

      section
        h2 sample coding
        pre
          code.language-javascript.
            const name = (company) => `みんな大好き${company}！`;
            console.info(`${name("IST")}`);
      section
        h2 おしまい

    script(src='build/build.js')
